@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Benne', serif;
  font-size: 20px;
  background-color: rgb(120, 120, 120);
}
.navbar a{
  color: rgb(60, 60, 60);
}
.navbar a:hover{
  color: rgb(60, 60, 60);
}

.navbar .navbar-brand {
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  font-weight: bold;
}
.navbar-nav .nav-item{
  margin-left: 30px;
}
.navbar-nav .nav-item a{
  border: 2px solid rgb(120, 120, 120);
}
.navbar-nav .nav-item a:hover{
  border-bottom: 2px solid blue;
}
.job-title{
  font-size: 30px;
}
.main-nav{
  border-bottom: 1px solid #fff;
}
.navbar-toggler{
  border-color: rgb(60, 60, 60);
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(60, 60, 60)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.home{
  color: #fff;
  padding-bottom: 20px;
}
.email-phone{
  display: flex;
}
.email-phone .phone{
  padding-left: 40px;
}
.phone{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

#about{
  padding: 20px 100px;
  text-align: center;
  background-color: #f0f0f0;
}
#skills {
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
}
.skill-list {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  font-size: 50px;
}
#recent-works{
  background-color: #E5E7EB;
  padding: 40px 20px;
}

.project-view-type{
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}
.view-code{
  color: black;
}

#contactme{
  background-color: #f0f0f0;
  padding: 40px 0;
}

.form-group{
  margin-bottom: 10px;
}
.footer{
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.socials p {
  padding: 0 20px;
}
.socials a{
  color: #fff;
}
.socials a:hover{
  color: black;
}

@media only screen and (max-width: 414px) {
  .home{
    padding-top: 40px;
  }

  .email-phone{
    display: initial;
  }
  .email-phone .phone{
    padding: 0;
  }
  #about{
    padding: 20px;
    text-align:initial;
  }
  .skill-list {
    font-size: 30px;
  }
}