@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body {
  font-family: 'Benne', serif;
  font-size: 20px;
  background-color: rgb(60, 60, 60);
}
a:hover{
  cursor: pointer;
}

.navbar .navbar-brand {
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  font-weight: bold;
}
.navbar-nav .nav-item{
  margin-left: 30px;
}
.navbar-nav .nav-item .nav-link{
  color: #fff;
  border: 2px solid rgb(60, 60, 60);
}
.navbar-nav .nav-item .nav-link:hover{
  border-bottom: 2px solid orange;
}
.navbar-nav .nav-item .btn{
  color: #ffa500;
  font-weight: bold;
}
.navbar-nav .nav-item .btn:hover{
  color: #ffa500;
  background-color: inherit;
  box-shadow: 3px 3px #ffa500;
}
.job-title{
  font-size: 30px;
}
.main-nav{
  padding: 30px 0;
  border-bottom: 1px solid rgb(120, 120, 120);
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.home{
  color: #fff;
  padding-bottom: 20px;
}

.home img{
  width: 70%;
  border-top: 2px solid #ffa500;
  border-right: 2px solid #ffa500;
  padding: 3px;
  border-radius: 50%;
}
.email-phone{
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.email-phone a{
  color: #fff;
  text-decoration: none;
}
.email-phone a:hover{
  text-decoration: underline;
}

#about{
  padding: 20px 100px;
  text-align: center;
  background-color: #f0f0f0;
}
#about .btn{
  font-size: 20px;
}

#skills {
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
}
.skill-list {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  font-size: 50px;
  background-color: #f0f0f0;
  padding: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.skill-list:hover{
  background: #E5E7EB;
}
#recent-works{
  background-color: #E5E7EB;
  padding: 40px 20px;
}

.card-row{
  background: #E5E7EB;
}
.card-detail-div{
  padding-top: 20px;
}
.card-details{
  background: gray;
  padding: 20px; 
  color: #f0f0f0; 
  font-size: 17px;
}

.project-view-type{
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  background: #E5E7EB;
}

.view-code{
  color: black;
}

#contactme{
  background-color: #f0f0f0;
  padding: 40px 0;
}
.reach-out{
  border-top: 2px solid #ffa500;
  border-left: 2px solid #ffa500;
  padding: 13px;
}
.reach-out a{
  color: inherit;
  padding-left: 5px;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.reach-out a:hover{
  text-decoration: underline;
}

.form-group{
  margin-bottom: 10px;
}
.form-control:focus {
  border-color: #ffa500;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f0f0f0;
}

.alert{
  margin-top: 10px;
}

.footer{
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.socials p {
  padding: 0 20px;
  color: #fff;
}
.socials a{
  color: #fff;
}
.socials a:hover{
  color: black;
}
input[type=submit]:hover {
  background-color: #ffa500;;
}


@media only screen and (max-width: 414px) {
  .home{
    padding-top: 40px;
  }

  .home img{
    width: 100%;
  }
  .job-title{
    font-size: 25px;
  }

  .email-phone{
    display: initial;
  }
  .email-phone .phone{
    padding: 0;
  }
  #about{
    padding: 20px;
    text-align:initial;
  }
  .skill-list {
    font-size: 30px;
  }
  #submit-btn{
    width: 100%;
  }
}