@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Benne", serif;
  font-size: 19px;
  background-color: #212121;
}
a:hover {
  cursor: pointer;
}

/* ui dots */
.ui-dot {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  border-top: 1px solid #fcd201;
  border-right: 1px solid #fcd201;
  top: 90px;
}
.ui-dot3 {
  width: 50px;
  height: 50px;
  position: relative;
  right: 20px;
  border-radius: 50%;
  border-top: 1px solid #fcd201;
  border-right: 1px solid #fcd201;
  left: 50%;
  top: 30px;
}
#about .ui-dot2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  position: relative;
  top: 0;
}
.go-up {
  color: red;
  padding: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(168, 162, 162);
  opacity: 0.5;
}

.navbar {
  background-color: #000;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  filter: alpha(opacity=50); /* IE 5-7 */
  -moz-opacity: 0.5; /* Netscape */
  -khtml-opacity: 0.5; /* Safari 1.x */
  z-index: 1;
}

.navbar .navbar-brand {
  font-family: 'Arima Madurai', cursive;
  font-size: 23px;
  font-weight: bold;
}
.navbar-nav .nav-item {
  margin-left: 30px;
}
.navbar-nav .nav-item .nav-link {
  color: #fff;
  /* border: 2px solid #212121; */
}
.navbar-nav .nav-item .nav-link:hover {
  /* border-bottom: 2px solid #fcd201; */
  text-decoration: underline;
  color: #cca114;
}
.navbar-nav .nav-item .btn {
  color: #fcd201;
  font-weight: bold;
}
.navbar-nav .nav-item .btn:hover {
  color: #fcd201;
  background-color: inherit;
  box-shadow: 3px 3px #fcd201;
}
.job-title {
  font-size: 25px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.home {
  color: #fff;
  padding-bottom: 20px;
  padding-top: 200px;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/image.png);
  background-size: cover;
}

.home img {
  width: 70%;
  border-top: 2px solid #fcd201;
  border-right: 2px solid #fcd201;
  padding: 3px;
  border-radius: 50%;
}
.home h2 {
  color: #cca114;
  font-family: "Red Hat Mono", monospace;
}
#desc {
  text-align: justify;
}
.email-phone {
  display: flex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.email-phone a {
  padding-right: 20px;
  color: #fff;
  text-decoration: none;
}
.email-phone a:hover {
  text-decoration: underline;
}

#about img {
  width: 70%;
  border-top: 2px solid #574b10;
  border-right: 2px solid #61520a;
  padding: 3px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

#about {
  padding: 20px 130px;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/4108621.jpg);
  background-size: cover;
}
#about .btn {
  font-size: 20px;
}
.img-div{
  margin-top: 20px;
}
.aboutme-texts{
  padding: 30px;
  background: #212121;
  border: 1px solid rgb(68, 67, 67);
  text-align: justify;
}

.date{
  background: #000;
  color: #ea5252;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  margin-bottom: 20px;
}

#skills {
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #d9d4e4;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.skill-list p {
  width: 90px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 50px;
}
.skill-list:hover {
  background: #e5e7eb;
}
#recent-works {
  background-color: #e5e7eb;
  padding: 40px 20px;
}

.card-row {
  background: #e5e7eb;
}
.card-detail-div {
  padding-top: 20px;
}
.card-details {
  background: gray;
  padding: 20px;
  color: #f0f0f0;
  font-size: 17px;
}

.project-view-type {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  background: #e5e7eb;
}

.view-code {
  color: black;
}

#contactme {
  background-color: #f0f0f0;
  padding: 40px 0;
}
.reach-out {
  border-top: 2px solid #fcd201;
  border-left: 2px solid #fcd201;
  padding: 13px;
}
.reach-out a {
  color: inherit;
  padding-left: 5px;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.reach-out a:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 10px;
}
.form-control:focus {
  border-color: #fcd201;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f0f0f0;
}

.alert {
  margin-top: 10px;
}

.footer {
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.socials p {
  padding: 0 20px;
  color: #fff;
}
.socials a {
  color: #fff;
}
.socials a:hover {
  color: black;
}
input[type="submit"]:hover {
  background-color: #fcd201;
}

/* Button */
.btn {
  padding: 5px 15px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #cca114;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.7s;
  border-radius: 20px;
  border: 1px solid #cca114;
  box-shadow: inset 0 0 0 0 #cca114;
}

.btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #cca114;
}

.btn:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 414px) {
  /* ui dots */

  #about .ui-dot2 {
    position: absolute;
    right: 10px;
    top: 1200px;
    background-color: rgba(226, 226, 3, 0.1);
  }
  .img-div{
    margin: auto;
    padding-left: 40px;
  }
  #about img {
    width: 80%;
    padding: 10px;
  }

  .home {
    padding-top: 140px;
  }

  .home img {
    width: 100%;
  }
  .job-title {
    font-size: 25px;
  }

  .email-phone {
    display: initial;
  }
  .email-phone .phone {
    padding: 0;
  }
  #about {
    padding: 20px;
    text-align: initial;
  }
  .skill-list {
    font-size: 30px;
  }
  #submit-btn {
    width: 100%;
  }
}
