@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&display=swap');

@import 'config';
@import 'header';
@import 'hero';
@import 'skills';
@import 'recentWorks';
@import 'carouselContainer';
@import 'about';
@import 'contact';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Benne", serif;
  font-size: 19px;
  color: $color-black;
}
.App {
	position: relative;
	min-height: 100vh;
  }
  .content-wrap {
	padding-bottom: 165px;
  }
.page-not-found {
  height: 100vh;
  padding-top: 20%;
  background: $color-dark;
  text-align: center;
  color: $color-white;

  a{
    color: $color-secondary;
    text-decoration: underline;
  }
}

.focused-color{
  color: darken($color-secondary, 10%);
}

a {
  color: $color-secondary;
  text-decoration: none;
  &:hover {
    color: darken($color: $color-secondary, $amount: 10%);
    cursor: pointer;
  }
}
.index-page {
  background-color: $color-dark;
}

/* ui dots */
.ui-dot {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  border-top: 1px solid $color-secondary;
  border-right: 1px solid $color-secondary;
  top: 90px;
}
.ui-dot3 {
  width: 50px;
  height: 50px;
  position: relative;
  right: 20px;
  border-radius: 50%;
  border-top: 1px solid $color-secondary;
  border-right: 1px solid $color-secondary;
  left: 50%;
  top: 30px;
}
#about .ui-dot2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-black;
  position: relative;
  top: 0;
}
.go-up {
  z-index: 2;
  color: $color-secondary;
  padding: 20px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: $color-black;
  opacity: 0.5;
  &:hover{
      cursor: pointer;
  }
}


.footer {
  text-align: center;
  position: absolute;
	bottom: 0;
	width: 100%;
  height: 165px;
  background-color: $color-dark;
  overflow: hidden;
  .socials {
    padding: 20px;
    a {
      margin: 0 20px;
      color: $color-light;
      &:hover {
          color: $color-white;
        }
    }
  }
}

/* Button */
.btn {
  padding: 5px 15px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: darken($color-secondary, 10%);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.7s;
  border-radius: 20px;
  border: 1px solid darken($color-secondary, 10%);
  box-shadow: inset 0 0 0 0 darken($color-secondary, 10%);
  &:hover {
    color: $color-white;
    box-shadow: inset 0 -100px 0 0 darken($color-secondary, 10%);
  }
  &:active {
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 414px) {

  .job-title {
    font-size: 25px;
  }

  #submit-btn {
    width: 100%;
  }
  .content-wrap {
    padding-bottom: 190px;
    }
    .footer {
      height: 190px;
    }
}
